---
title: Dessert Tacos
---
%header.table
  .table-cell.taco-header
    %h2.h4.caps= link_to 'Taco Week', '/', class: 'mid-gray'
    %h1.h1.taco-headline Dessert Tacos
    %p.taco-subhead 2. Start your day like a champion
%section.container
  %h3.h2 So it begins
  %p Welcome to the first day of Taco Week! Our journey praising glorious tacos around the world starts now. Today is all about the breakfast taco, the best $2 you can spend in the morning. Or if you're not near the <a href="http://www.nytimes.com/2010/03/10/dining/10united.html">epicenter of breakfast taco heaven</a>, they're quick and easy to make at home.
  %p <strong>Taco Fun Fact:</strong> <em>The tacodilla contains melted cheese in between the two folded tortillas, thus resembling a quesadilla.</em> - <a href="http://en.wikipedia.org/wiki/Taco#Puffy_tacos.2C_taco_kits.2C_breakfast_tacos_and_tacodillas">Wikipedia</a>
  %p Breakfast tacos are far from conventional with flour tortillas and non-traditional ingredients. When it comes to the <a href="http://www.texasmonthly.com/story/most-important-taco-day">most important meal of the day</a>, they are the <em>complete</em> breakfast.
  %p <a href="http://www.zagat.com/b/austin/tastiest-breakfast-tacos-in-austin">Texas</a> has first-mover advantage in the breakfast taco scene. Although the origin story is long enough <a href="http://www.amazon.com/dp/1626190496/">to fill a book</a>, the revolution began in the early 80's at Tamale House on Airport Road, Las Manitas on Congress, and a handful of select commercial locations.
  %h3.h2 Ice cream tacos
  %p With an epic Halloween behind us, don't let your Taco Week be as sloppy as a <a href="http://giphy.com/gifs/cheezburger-halloween-dancing-IyL7BTQmCK5Ow/fullscreen">last minute Jack Skellington costume</a>. Instead, stay classy and make hangover tacos. Or if you're feeling up to it, <a href="#recipes">something even more elaborate</a>.
  .fitvid <iframe width="750" height="422" src="//www.youtube.com/embed/OBEhjC_WsvY" frameborder="0" allowfullscreen></iframe>
  %p.italic.mid-gray Source: <a href="http://hilahcooking.com/ice-cream-tacos/">Hilah Cooking</a>
  %h4.h3 Ingredients
  %ul
    %li 4 flour tortillas (6-8 inch)
    %li 2 tablespoons butter, melted (or use spray canola oil)
    %li 3 tablespoons sugar
    %li ¾ teaspoon ground cinnamon
    %li 1 quart ice cream
    %li 1 cup diced fresh fruit
    %li Optional toppings: chopped nuts, whipped cream, maraschino cherries
    %li Special equipment: standard muffin tins, aluminum foil, basting brush
  %h4.h3 Directions
  %ol
    %li Set oven to 350ºF. Cut four lengths of aluminum foil 8 inches long, fold in half lengthwise to make rectangles about 4x12 inches. Crease lengthwise again and lay between the cups of an upside down muffin tin. (see video for demo)
    %li Brush each side of tortillas with melted butter or spray with oil.
    %li Combine cinnamon and sugar in a small bowl and sprinkle each side of tortillas with cinnamon-sugar.
    %li VERY lightly score one side of each tortilla on either side of the center. (see video)
    %li Fold tortillas in half and place into aluminum foil molds, scored sides inside.
    %li Bake 10-12 minutes until golden around the edges and crispy.
    %li While tortillas bake, set up cooling stations with long chopsticks or skewers across bowls or glasses (see video)
    %li When tortillas are cooked, remove carefully with tongs and let cool upside down, hanging over chopsticks for 15 minutes until cooled and crisp.
    %li Fill with ice cream and top with diced fruit.
  %blockquote.taco-quote
    %p
      “To Do Today, 1/17/08
      %br
      1. Sit and think 
      %br
      2. Reach enlightenment
      %br
      3. Eat tacos.”
    %cite Jarod Kintz
  %h3.h2#recipes More breakfast taco recipes
  %p You can 'put an egg on it' and make anything a breakfast taco.
  %ul.taco-preview
    %li{style: 'background-image: url(https://farm3.staticflickr.com/2924/14257728059_614fe32644_b.jpg);'}
      = link_to 'Choco Tacos at Home', 'http://food52.com/blog/10625-how-to-make-choco-tacos-at-home'
    %li{style: 'background-image: url(http://www.mountainmamacooks.com/wp-content/uploads/2014/08/peaches-n-cream-breakfast-taco-mountain-mama-cooks-4.jpg);'}
      = link_to 'Peaches and Cream Breakfast Tacos', 'http://www.mountainmamacooks.com/2014/08/peaches-cream-breakfast-tacos/'
    %li{style: 'background-image: url(http://s3-ec.buzzfed.com/static/2014-08/19/15/enhanced/webdr11/enhanced-12899-1408475907-19.jpg);'}
      = link_to 'Blueberry Pie Tacos', 'http://www.buzzfeed.com/emofly/blueberry-pie-tacos'
    %li{style: 'background-image: url(http://www.cravingsofalunatic.com/wp-content/uploads/2014/10/Chocolate-Tacos-10.jpg);'}
      = link_to 'Chocolate Tacos', 'http://www.cravingsofalunatic.com/2014/10/chocolate-tacos.html'
    %li{style: 'background-image: url(http://www.spendwithpennies.com/wp-content/uploads/2014/01/apple-pie-tacos.jpg);'}
      = link_to 'Apple Pie Tacos', 'http://www.spendwithpennies.com/apple-pie-tacos/'

    %li{style: 'background-image: url(http://kitchenmeetsgirl.com/wp-content/uploads/2013/04/20130421-180602.jpg);'}
      = link_to 'So Easy Sopapillas (not tacos but you know you want them)', 'http://kitchenmeetsgirl.com/so-easy-sopapillas/'
  %p Share your tacos with <strong>#tacoweek</strong>.
= partial 'layouts/email'
