---
title: Dessert Tacos
---
%header.table
  .table-cell.taco-header
    %h2.h4.caps= link_to 'Taco Week', '/', class: 'mid-gray'
    %h1.h1.taco-headline Dessert Tacos
    %p.taco-subhead 4. Without them, there would be darkness and chaos
%section.container
  %h3.h2 Delicious abominations
  %p
  %p <strong>Taco Fun Fact:</strong> <em>As with so many popular things, more than one person has claimed to have invented the margarita. One of the most prevalent stories is that Carlos "Danny" Herrera developed the drink at his Tijuana-area restaurant, Rancho La Gloria, around 1938. As the legend goes, Herrera dreamed up the cocktail for one of his customers, an aspiring actress named Marjorie King who was allergic to all hard alcohol other than tequila. To make the liquor more palatable to his fussy client, he combined the elements of a traditional tequila shot—a lick of salt and a wedge of lime—and turned them into a refreshing drink. </em> - <a href="http://www.smithsonianmag.com/arts-culture/the-history-of-the-margarita-57990212/?no-ist">Smithsonian</a>
  %p
  %h3.h2 Ice cream tacos
  %p Admit it, you've always wanted to make these. Once the forbidden <a href="http://giphy.com/gifs/answered-choco-taco-DnPN0UK8H7mE0/fullscreen">Choco Taco</a> hits your lips, the floodgate of possibilites flung wide open. Here is your gateway to turning every possible sweet into lucious dessert tacos.
  .fitvid <iframe width="750" height="422" src="//www.youtube.com/embed/OBEhjC_WsvY" frameborder="0" allowfullscreen></iframe>
  %p.italic.mid-gray Source: <a href="http://hilahcooking.com/ice-cream-tacos/">Hilah Cooking</a>
  %h4.h3 Ingredients
  %ul
    %li 4 flour tortillas (6-8 inch)
    %li 2 tablespoons butter, melted (or use spray canola oil)
    %li 3 tablespoons sugar
    %li ¾ teaspoon ground cinnamon
    %li 1 quart ice cream
    %li 1 cup diced fresh fruit
    %li Optional toppings: chopped nuts, whipped cream, maraschino cherries
    %li Special equipment: standard muffin tins, aluminum foil, basting brush
  %h4.h3 Directions
  %ol
    %li Set oven to 350ºF. Cut four lengths of aluminum foil 8 inches long, fold in half lengthwise to make rectangles about 4x12 inches. Crease lengthwise again and lay between the cups of an upside down muffin tin. (see video for demo)
    %li Brush each side of tortillas with melted butter or spray with oil.
    %li Combine cinnamon and sugar in a small bowl and sprinkle each side of tortillas with cinnamon-sugar.
    %li VERY lightly score one side of each tortilla on either side of the center. (see video)
    %li Fold tortillas in half and place into aluminum foil molds, scored sides inside.
    %li Bake 10-12 minutes until golden around the edges and crispy.
    %li While tortillas bake, set up cooling stations with long chopsticks or skewers across bowls or glasses (see video)
    %li When tortillas are cooked, remove carefully with tongs and let cool upside down, hanging over chopsticks for 15 minutes until cooled and crisp.
    %li Fill with ice cream and top with diced fruit.
  %blockquote.taco-quote
    %p
      “1. Sit and think 
      %br
      2. Reach enlightenment
      %br
      3. Eat tacos.”
    %cite Jarod Kintz
  %h3.h2#recipes The sweetest of recipes
  %p There's so many other ways than just dipping tacos in chocolate, although we highly encourage that too. Share your taco creations with <strong>#tacoweek</strong>.
  %ul.taco-preview.clearfix
    %li{style: 'background-image: url(https://farm3.staticflickr.com/2924/14257728059_614fe32644_b.jpg);'}
      = link_to 'Choco Tacos at Home', 'http://food52.com/blog/10625-how-to-make-choco-tacos-at-home'
    %li{style: 'background-image: url(http://www.mountainmamacooks.com/wp-content/uploads/2014/08/peaches-n-cream-breakfast-taco-mountain-mama-cooks-4.jpg);'}
      = link_to 'Peaches and Cream Breakfast Tacos', 'http://www.mountainmamacooks.com/2014/08/peaches-cream-breakfast-tacos/'
    %li{style: 'background-image: url(http://s3-ec.buzzfed.com/static/2014-08/19/15/enhanced/webdr11/enhanced-12899-1408475907-19.jpg);'}
      = link_to 'Blueberry Pie Tacos', 'http://www.buzzfeed.com/emofly/blueberry-pie-tacos'
    %li{style: 'background-image: url(http://www.cravingsofalunatic.com/wp-content/uploads/2014/10/Chocolate-Tacos-10.jpg);'}
      = link_to 'Chocolate Tacos', 'http://www.cravingsofalunatic.com/2014/10/chocolate-tacos.html'
    %li{style: 'background-image: url(http://www.spendwithpennies.com/wp-content/uploads/2014/01/apple-pie-tacos.jpg);'}
      = link_to 'Apple Pie Tacos', 'http://www.spendwithpennies.com/apple-pie-tacos/'

    %li{style: 'background-image: url(http://kitchenmeetsgirl.com/wp-content/uploads/2013/04/20130421-180602.jpg);'}
      = link_to 'So Easy Sopapillas (not tacos but you know you want them)', 'http://kitchenmeetsgirl.com/so-easy-sopapillas/'
= partial 'layouts/email'
