---
title: Fancy Tacos
---
%header.table
  .table-cell.taco-header
    %h2.h4.caps= link_to 'Taco Week', '/', class: 'mid-gray'
    %h1.h1.taco-headline Fancy Tacos
    %p.taco-subhead 2. Create delight through taco enlightenment
%section.container
  %h3.h2 You already know
  %p Many have sought the <a href="http://www.nytimes.com/interactive/2014/09/10/style/tmagazine/redzepi-searches-for-the-perfect-taco.html">perfect taco</a> but few have found purity in the one true art. Like zen monks, there is beauty in repetion. Crafting virtuous tacos requires practice. On your path to taco nirvana, you must <a href="http://www.nytimes.com/2013/10/02/dining/making-a-stand-up-meal-out-of-the-sit-down-taco.html">create your own transcendence</a>.
  %p <strong>Taco Fun Fact:</strong> <em>Tortillas were once canned. During the 1980s, many Americans could only find canned tortillas, a creation that can be attributed to El Paso’s George N. Ashley. Ashley first sold the product in 1938 and had some success, but his creation can no longer be found on supermarket shelves today.</em> - <a href="http://www.marcussamuelsson.com/news/10-things-you-probably-didnt-know-about-mexican-food">Marcus Samuelsson</a>
  %p You could spend a life time scouring America for the <a href="http://www.thedailymeal.com/50-best-tacos-america-slideshow">best restaurant tacos</a> for inspirtation, only to find taco zen in your own kitchen.
  = partial 'layouts/share'
  %h3.h2 Beef Tacos with Wasabi Mayonnaise
  %p Nothing says fancy like steak, in taco form. Put on your chef hat and gather the finest ingredients you can muster up.
  .fitvid <iframe width="560" height="315" src="//www.youtube.com/embed/fETZCWvzkWM" frameborder="0" allowfullscreen></iframe>
  %p.italic.mid-gray Source: <a href="https://www.youtube.com/watch?v=fETZCWvzkWM&list=UUIEv3lZ_tNXHzL3ox-_uUGQ">Gordon Ramsay</a>
  %h4.h3 Ingredients
  %ul 
    %li 2 beef sirloin steaks
    %li salt and freshly ground black pepper
    %li olive oil
    %li 6-8 small (6-inch) tortillas, to serve
  %p Marinade
  %ul
    %li 2 tablespoons light miso paste (also called soybean paste, located in Asian section of grocery store)
    %li 2 tablespoons mirin (also called aji-mirin, located in Asian section of grocery store)
    %li 1 tablespoon sugar
    %li 2 tablespoons olive oil
    %li sea salt and freshly ground black pepper
  %p Quick Pickled Cabbage
  %ul
    %li 1/2 head of Chinese cabbage, finely shredded
    %li sea salt and freshly ground black pepper
    %li 1-1 1/2 tablespoons rice vinegar or lemon juice
    %li 1/2 teaspoon sesame oil
    %li 1 teaspoon dried chile flakes
  %p Wasabi Mayo
  %ul
    %li 1/2 teaspoon wasabi, to taste
    %li 2 heaping tablespoons mayonnaise
  %h4.h3 Directions
  %ol
    %li First prepare the marinade. Mix the miso paste, mirin, sugar, and olive oil, stirring well to dissolve the sugar. Season with salt and pepper and add a tablespoon of water if the mixture needs loosening a little.
    %li Leave the fat on the steaks to keep them from drying out as you cook them. Season the well with salt and pepper and sear in a hot oiled frying pan for 2-3 minutes on each side for rare/medium-rare, or until cooked to your liking. Render the fat by tipping the steaks onto their sides and cooking until the fat is golden and crisp. Keep basting the steaks as you cook.
    %li When the steaks are cooked, remove from the pan and cut off the remaining layer of fat. Place the steaks in the marinade, coating all sides. Leave to rest, spooning the marinade over them now and again.
    %li Meanwhile, prepare the quick pickled cabbage. Put the cabbage in a bowl and season with salt and pepper. Add the rice vinegar, sesame oil, and chile flakes. Toss the mixture to coat, then leave to soften slightly for a couple of minutes.
    %li Meanwhile, mix together the wasabi and mayonnaise, taste, and add a little more wasabi if you like a stronger flavor.
    %li Heat the tortillas for 30-60 seconds over a naked gas flame until charred and lightly toasted. Roll them around a rolling pin while they’re still hot, and hold until cooled to set in half-moon taco shapes.
    %li Drain the beef of any excess marinade, then slice and place in the tacos. Top with the cabbage and a little wasabi mayo. Enjoy!
  %blockquote.taco-quote
    %p “It is the power of the taco to be unconquerable.”
    %cite Seneca
  %h3.h2#recipes Artisinal recipes
  %p Think of it like 'Jiro Dreams of Sushi', but for tacos. Share your tacos with <strong>#tacoweek</strong>.
  %ul.taco-preview.clearfix
    %li{style: 'background-image: url(http://www.loveandoliveoil.com/wp-content/uploads/2014/07/cauliflower-tacos.gif);'}
      = link_to 'Crispy Cauliflower Tacos with Mango Salsa', 'http://www.loveandoliveoil.com/2014/07/crispy-cauliflower-tacos-with-mango-salsa.html'
    %li{style: 'background-image: url(http://static.squarespace.com/static/51f437aae4b086a9c87bb4f2/t/542b10bee4b0b79760426896/1412108478429/Roasted%20Sweet%20Potato%20and%20Black%20Bean%20Tacos%20with%20Goat%20Cheese%20l%20wanderingroot.com?format=1500w);'}
      = link_to 'Roasted Sweet Potato and Black Bean Tacos with Goat Cheese', 'http://www.wanderingroot.com/blog/2014/9/30/roasted-sweet-potato-and-black-bean-tacos-with-goat-cheese'
    %li{style: 'background-image: url(http://www.halfbakedharvest.com/wp-content/uploads/2013/12/Loaded-Crockpot-Carne-Asada-Tacos-1.jpg);'}
      = link_to 'Loaded Crockpot Carne Asada Tacos', 'http://www.halfbakedharvest.com/loaded-crockpot-carne-asada-tacos/'
    %li{style: 'background-image: url(http://www.halfbakedharvest.com/wp-content/uploads/2014/02/BHG-Baja-Fish-Tacos-1.jpg);'}
      = link_to 'Baja Fish Tacos', 'http://www.halfbakedharvest.com/baja-fish-tacos/'
    %li{style: 'background-image: url(https://d2k9njawademcf.cloudfront.net/indeximages/41304/full/arugula_lamb_taco_F52.jpg?1396293011);'}
      = link_to 'Lamb, Arugula, and Feta Taco', 'http://food52.com/blog/10171-lamb-arugula-and-feta-taco'
    %li{style: 'background-image: url(http://www.fromaway.com/wp-content/uploads/2012/02/duck-confit-tacos-2.jpg);'}
      = link_to 'Crispy Duck Confit Tacos with Grapefruit Plum Salsa', 'http://fromaway.com/cooking/crispy-duck-confit-tacos-with-grapefruit-plum-salsa'
= partial 'layouts/email'
