---
title: Fusion Tacos
---
%header.table
  .table-cell.taco-header
    %h2.h4.caps= link_to 'Taco Week', '/', class: 'mid-gray'
    %h1.h1.taco-headline Fusion Tacos
    %p.taco-subhead 6. Start your day like a champion
%section.container
  %h3.h2 So it begins
  http://en.wikipedia.org/wiki/Korean_taco
  %p Welcome to the first day of Taco Week! Our journey praising glorious tacos around the world starts now. Today is all about the breakfast taco, the best $2 you can spend in the morning. Or if you're not near the <a href="http://www.nytimes.com/2010/03/10/dining/10united.html">epicenter of breakfast taco heaven</a>, they're quick and easy to make at home.
  %p <strong>Taco Fun Fact:</strong> <em>The tacodilla contains melted cheese in between the two folded tortillas, thus resembling a quesadilla.</em> - <a href="http://en.wikipedia.org/wiki/Taco#Puffy_tacos.2C_taco_kits.2C_breakfast_tacos_and_tacodillas">Wikipedia</a>
  %p Breakfast tacos are far from conventional with flour tortillas and non-traditional ingredients. When it comes to the <a href="http://www.texasmonthly.com/story/most-important-taco-day">most important meal of the day</a>, they are the <em>complete</em> breakfast.
  %p <a href="http://www.zagat.com/b/austin/tastiest-breakfast-tacos-in-austin">Texas</a> has first-mover advantage in the breakfast taco scene. Although the origin story is long enough <a href="http://www.amazon.com/dp/1626190496/">to fill a book</a>, the revolution began in the early 80's at Tamale House on Airport Road, Las Manitas on Congress, and a handful of select commercial locations.
  %h3.h2 Homemade Indian tacos and Indian frybread
  %p With an epic Halloween behind us, don't let your Taco Week be as sloppy as a <a href="http://giphy.com/gifs/cheezburger-halloween-dancing-IyL7BTQmCK5Ow/fullscreen">last minute Jack Skellington costume</a>. Instead, stay classy and make hangover tacos. Or if you're feeling up to it, <a href="#recipes">something even more elaborate</a>.
  .fitvid <iframe width="560" height="315" src="//www.youtube.com/embed/cN7L1RlrHbs?rel=0" frameborder="0" allowfullscreen></iframe>
  %p.italic.mid-gray Source: <a href="http://hilahcooking.com/indian-taco-recipe/">Hilah Cooking</a>
  %h4.h3 Ingredients
  %p Frybread
  %ul
    %li 2 cups all purpose flour
    %li 2 teaspoons baking powder
    %li ½ teaspoon salt
    %li ½ cup milk
    %li ½ cup water
    %li Additional ¼ cup flour for shaping
    %li 2 cups oil for frying
  %p Indian Tacos
  %ul
    %li 4 cooked frybreads
    %li Cooked pinto beans
    %li Taco meat*
    %li shredded cheese
    %li lettuce, tomato, onion
    %li hot sauce, pickled jalapenos
  %h4.h3 Directions
  %ol
    %li Whisk the flour, baking powder and salt together. Combine milk and water in a separate cup.
    %li Add wet ingredients to flour mixture and stir with a fork to mix well. You will have a soft dough.
    %li Flour your countertop well with the remaining ¼ cup flour and coat your hands, too.
    %li Shape the dough into a cylinder and cut into 4 pieces.
    %li Pat each piece out into a circle about ⅓" thick (1 cm) and 6" across.
    %li Heat the oil to 350 degrees F and fry breads one at a time, for about 2 minutes on each side.
    %li Drain upright.
    %li Serve topped with beans, meat, cheese, and vegetables of your choice.
  %blockquote.taco-quote
    %p “The ultimate goal of farming is not the growing of crops, but the cultivation and perfection of tacos.”
    %cite Masanobu Fukuoka
  %h3.h2#recipes More breakfast taco recipes
  %p You can 'put an egg on it' and make anything a breakfast taco.
  %ul.taco-preview
    %li{style: 'background-image: url(https://farm4.staticflickr.com/3865/14157484378_63ee917f06_b.jpg);'}
      = link_to 'Braised Short Rib Tacos', 'http://food52.com/blog/10527-braised-short-rib-tacos'
    %li{style: 'background-image: url(http://hilahcooking.com/wp-content/uploads/2013/10/vegetarian-tacos.jpg);'}
      = link_to 'Vegetarian Tempeh Tacos', 'http://hilahcooking.com/vegetarian-tacos/'
    %li{style: 'background-image: url(http://cdn5.beyondkimchee.com/wp-content/uploads/2014/04/Tutorial-12.jpg);'}
      = link_to 'Spicy Korean Pork Taco with Soy Lime Vinaigrette', 'http://www.beyondkimchee.com/spicy-korean-pork-taco/'
    %li{style: 'background-image: url(http://www.gimmesomeoven.com/wp-content/uploads/2013/03/Thai-Chicken-Tacos-3-5761.jpg);'}
      = link_to 'Thai Chicken Tacos', 'http://www.gimmesomeoven.com/thai-chicken-tacos/'
    %li{style: 'background-image: url(http://www.connoisseurusveg.com/wp-content/uploads/2014/10/edamame-tacos-featured.jpg);'}
      = link_to 'Edamame Tacos with Peanut Sauce', 'http://www.connoisseurusveg.com/2014/10/edamame-tacos-peanut-sauce.html'
    %li{style: 'background-image: url(http://www.aroundmyfamilytable.com/wp-content/uploads/2013/03/Irish-Tacos.jpg);'}
      = link_to 'Irish Tacos', 'http://www.aroundmyfamilytable.com/2013/03/irish-tacos/'
  %p Share your tacos with <strong>#tacoweek</strong>.
= partial 'layouts/email'
