---
title: Fusion Tacos
---
%header.table
  .table-cell.taco-header
    %h2.h4.caps= link_to 'Taco Week', '/', class: 'mid-gray'
    %h1.h1.taco-headline Fusion Tacos
    %p.taco-subhead 6. Cuisine from around the world unites
%section.container
  %h3.h2 Our powers combined
  %p Keeping up on the latest taco trend is fusing cultural cuisine into taco form. It's the most delicious cultural melting pot since <a href="https://www.youtube.com/watch?v=kbW5sxyu9bU">Captain Planet</a>. It's a global taco takeover.
  %figure.center
    = image_tag('fusion-tacos.png', class: 'fit')
    %cite.mid-gray.italic.block.py2 Illustration by <a href="https://twitter.com/LauRARbee">Laura Bohill</a>
  %p <strong>Taco Fun Fact:</strong> <em>In April 2010, Food & Wine magazine named Roy Choi, the chef of the original Kogi's (Korean BBQ Tacos), one of its annual "Best New Chefs". It was the first time a food truck chef had been nominated for the award.</em> - <a href="http://en.wikipedia.org/wiki/Korean_taco">Wikipedia</a>
  %p <a href="http://www.nytimes.com/2009/02/25/dining/25taco.html">Roy Choi</a> put it best, “We tried to marry two cultures,” Mr. Choi said, “with this crazy idea of putting Korean barbecue meat inside a tortilla. We have never tried to make it any more pretentious or different from that, and we wanted to be very simple but delicious.” Now we're just waiting on someone to try making a ramen taco.
  = partial 'layouts/share'
  %h3.h2 Homemade Indian tacos and Indian frybread
  %p Mixing it up today with deep-frying Indian style tacos. Do you <a href="http://giphy.com/gifs/disney-one-direction-singing-a38J69A5TuX72/fullscreen">trust me</a>? It's time to <a href="http://giphy.com/gifs/dance-makeup-indonesia-Q1fBo1zYD1By8/fullscreen">get weird</a>.
  .fitvid <iframe width="560" height="315" src="//www.youtube.com/embed/cN7L1RlrHbs?rel=0" frameborder="0" allowfullscreen></iframe>
  %p.italic.mid-gray Source: <a href="http://hilahcooking.com/indian-taco-recipe/">Hilah Cooking</a>
  %h4.h3 Ingredients
  %p Frybread
  %ul
    %li 2 cups all purpose flour
    %li 2 teaspoons baking powder
    %li ½ teaspoon salt
    %li ½ cup milk
    %li ½ cup water
    %li Additional ¼ cup flour for shaping
    %li 2 cups oil for frying
  %p Indian Tacos
  %ul
    %li 4 cooked frybreads
    %li Cooked pinto beans
    %li Taco meat*
    %li shredded cheese
    %li lettuce, tomato, onion
    %li hot sauce, pickled jalapenos
  %h4.h3 Directions
  %ol
    %li Whisk the flour, baking powder and salt together. Combine milk and water in a separate cup.
    %li Add wet ingredients to flour mixture and stir with a fork to mix well. You will have a soft dough.
    %li Flour your countertop well with the remaining ¼ cup flour and coat your hands, too.
    %li Shape the dough into a cylinder and cut into 4 pieces.
    %li Pat each piece out into a circle about ⅓" thick (1 cm) and 6" across.
    %li Heat the oil to 350 degrees F and fry breads one at a time, for about 2 minutes on each side.
    %li Drain upright.
    %li Serve topped with beans, meat, cheese, and vegetables of your choice.
  %blockquote.taco-quote
    %p “The ultimate goal of farming is not the growing of crops, but the cultivation and perfection of tacos.”
    %cite Masanobu Fukuoka
  %h3.h2#recipes Maximum fusion recipes
  %p Wrapping things in tortillas in the best thing that can possibly happen to them. Share your tacos with <strong>#tacoweek</strong>.
  %ul.taco-preview.clearfix
    %li{style: 'background-image: url(https://farm4.staticflickr.com/3865/14157484378_63ee917f06_b.jpg);'}
      = link_to 'Braised Short Rib Tacos', 'http://food52.com/blog/10527-braised-short-rib-tacos'
    %li{style: 'background-image: url(http://hilahcooking.com/wp-content/uploads/2013/10/vegetarian-tacos.jpg);'}
      = link_to 'Vegetarian Tempeh Tacos', 'http://hilahcooking.com/vegetarian-tacos/'
    %li{style: 'background-image: url(http://cdn5.beyondkimchee.com/wp-content/uploads/2014/04/Tutorial-12.jpg);'}
      = link_to 'Spicy Korean Pork Taco with Soy Lime Vinaigrette', 'http://www.beyondkimchee.com/spicy-korean-pork-taco/'
    %li{style: 'background-image: url(http://www.gimmesomeoven.com/wp-content/uploads/2013/03/Thai-Chicken-Tacos-3-5761.jpg);'}
      = link_to 'Thai Chicken Tacos', 'http://www.gimmesomeoven.com/thai-chicken-tacos/'
    %li{style: 'background-image: url(http://www.connoisseurusveg.com/wp-content/uploads/2014/10/edamame-tacos-featured.jpg);'}
      = link_to 'Edamame Tacos with Peanut Sauce', 'http://www.connoisseurusveg.com/2014/10/edamame-tacos-peanut-sauce.html'
    %li{style: 'background-image: url(http://www.aroundmyfamilytable.com/wp-content/uploads/2013/03/Irish-Tacos.jpg);'}
      = link_to 'Irish Tacos', 'http://www.aroundmyfamilytable.com/2013/03/irish-tacos/'
= partial 'layouts/email'
