---
title: Taco Week, 11/2/14 - 11/9/14
---

%header.table
  .table-cell.taco-header
    %h1.h1.taco-headline Taco Week
    %p.taco-subhead November 2nd &mdash; 9th, 2014
%section.container
  %h3.h2 How to participate
  %ol
    %li
      %p During the week, eat and enjoy tacos. It's really that simple. Learn how to cook new tacos, go out and discover new tacos. Enable hard mode by eating <em>exclusively</em> tacos.
    %li
      %p Share your taco-gasms with the world by using the hashtag <strong>#tacoweek</strong> on Instagram and Twitter.
    %li
      %p <strong>Sign up to get the daily updates</strong> from our newsletter.
  %ol
    %li= link_to 'Breakfast Tacos', '/breakfast-tacos.html'
    %li= link_to 'Dessert Tacos', '/dessert-tacos.html'
    %li= link_to 'Street Tacos', '/street-tacos.html'
    %li= link_to 'Fancy Tacos', '/fancy-tacos.html'
    %li= link_to 'Better than Burritos', '/burritos-are-stupid.html'
    %li= link_to 'Fusion Tacos', '/fusion-tacos.html'
    %li= link_to 'Future Tacos', '/future-tacos.html'
= partial 'layouts/email'
%section.container
  .py2
    %h3.h3 Recipe inspiration
    %p Need a muse for <a href="https://www.youtube.com/watch?v=3vQVLM7BUwQ">taco inspiration</a>? Here's our top spots, we'll also be sending out recipes daily in the newsletter.
    %ul
      %li
        = link_to 'TacoFancy', 'https://github.com/sinker/tacofancy'
        &mdash; open-source collection of object-oriented tacos
      %li
        = link_to 'All Recipes', 'http://allrecipes.com/recipes/world-cuisine/latin-american/mexican/main-dishes/tacos/'
        &mdash; search and sort the largest collection of recipes
      %li
        = link_to 'Food Network', 'http://www.foodnetwork.com/recipes/articles/50-tacos.html'
        &mdash; top 50 easy and quick ways to prepare tacos
  %h3.h3 Last year's finest
  %ul.taco-preview.clearfix
    %li{style: 'background-image: url(http://photos-c.ak.instagram.com/hphotos-ak-xap1/1172565_1433463810208746_1341725235_n.jpg);'}
      = link_to 'Verde Chicken & Purple Cabbage', 'http://instagram.com/p/gb3AqQhUue/?modal=true'
    %li{style: 'background-image: url(http://photos-f.ak.instagram.com/hphotos-ak-xpf1/1389262_1432771716938389_107887162_n.jpg);'}
      = link_to 'Sunny Side Chile Verde', 'http://instagram.com/p/g3MaTUBUo_/?modal=true'
    %li{style: 'background-image: url(http://photos-f.ak.instagram.com/hphotos-ak-xpa1/926608_321530441320973_1209901167_n.jpg);'}
      = link_to 'Carnitas & Guacamole', 'http://instagram.com/p/hAG4lEhUsD/?modal=true'
    %li{style: 'background-image: url(http://distilleryimage5.ak.instagram.com/027c3f3c93ed11e2a5d322000a1f90e5_7.jpg);'}
      = link_to 'Sriracha and Egg', 'http://instagram.com/p/XNhEtChUq5/?modal=true'
    %li{style: 'background-image: url(http://photos-e.ak.instagram.com/hphotos-ak-xaf1/10607938_539122462898452_1491294682_n.jpg);'}
      = link_to 'Salmon Breakfast Tacos', 'http://instagram.com/p/suyVseBUue/?modal=true'
    %li{style: 'background-image: url(http://distilleryimage9.ak.instagram.com/ed16f85ca47711e398d112177f882289_8.jpg);'}
      = link_to 'Classic Egg & Cheese', 'http://instagram.com/p/lKlblMhUgo/?modal=true'
  %h3.h2 History
  %p In 2013 the happiest accident led to the founding of <strong>#tacoweek</strong>, you see I take pride in making the best tacos imaginable. That's why I was planning on taking <a href="http://www.foodnetwork.com/recipes/melissa-darabian/pork-carnitas-recipe.html">signature slow-cooked carnitas</a> to a friend's pre-Thanksgiving party here in San Francisco. The four pounds of prime pork shoulder were artisanally crafted for maximum softness in a top secret two day process.
  %p When I arrived at the party, the bad news was dealt; &#8220;This is a strictly Kosher party. You'll have to take those home&#8221;. It turned out that price of my Facebook absitenence was missing crucial party details. So I took the carnitas home and quite enjoyed myself surrounded by friendship and a feast of foods outlined in the <a href="http://en.wikipedia.org/wiki/Kashrut">kashrut</a>. 
  %p.m0 Upon arriving home, the challenge had been set before me. These perfect carnitas couldn't go to waste. They would need to be creatively remixed into breakfast, lunch, and dinner tacos. One man, seven days of a strictly taco diet. Thus <strong>#tacoweek</strong> was born.
