---
title: Street Tacos
---
%header.table
  .table-cell.taco-header
    %h2.h4.caps= link_to 'Taco Week', '/', class: 'mid-gray'
    %h1.h1.taco-headline Street Tacos
    %p.taco-subhead 3. Also known as Tacos de Asador
%section.container
  %h3.h2 No matter where you are
  %p True love comes in threes, on a paper plate. The shrine of this love takes form in mobile trucks and small stands. You'll know when you've found it by the alluring smell of bistec and pastor. Make sure you top with a squeeze of lime and the proper amount of cilantro and onion.
  %figure.center
    = image_tag('street-tacos.png', class: 'fit')
    %cite.mid-gray.italic.block.py2 Illustration by <a href="https://twitter.com/LauRARbee">Laura Bohill</a>
  %p <strong>Taco Fun Fact:</strong> <em>The Online Etymological Dictionary defines taco as a "tortilla filled with spiced meat" and describes its etymology as derived from Mexican Spanish, "light lunch," literally, "plug, wadding." The sense development from "plug" may have taken place among Mexican silver miners, who used explosive charges in plug form consisting of a paper wrapper and gunpowder filling.</em> - <a href="http://en.wikipedia.org/wiki/Taco">Wikipedia</a>
  %p Trying to recreate the street effect at home is trickier than <a href="http://food52.com/blog/9974-how-to-heat-store-bought-corn-tortillas">heating up some tortillas</a> and filling them with leftovers. It will take years of refinement to approach the ideal the street masters have achieved. When you're ready the only question will be red or green salsa.
  = partial 'layouts/share'
  %h3.h2 Mexican street tacos
  %p This classic dish should always be on the menu of your kitchen. Casually ignore Jason's obsession with spray oil and you'll be alright, silly Jason.
  .fitvid <iframe width="560" height="315" src="//www.youtube.com/embed/M7saMzgiNZw?rel=0" frameborder="0" allowfullscreen></iframe>
  %p.italic.mid-gray Source: <a href="http://cookingsessions.com/mexican-street-tacos-recipe/">Jason Hill</a>
  %h4.h3 Ingredients
  %ul 
    %li 4-5 pieces of steak flap meat
    %li 8 corn tortillas
    %li 1 cup chopped onion
    %li 1 cup minced cilantro
    %li 1 bunch green onions
    %li 1-2 jalapenos
    %li 1 lime, juiced
    %li Fajita marinade
    %li Avocado Salsa
  %h4.h3 Directions
  %ol
    %li Marinate the steak or chicken in my fajita marinade overnight, turning once or twice.
    %li Preheat grill. Grill steak or chicken until done, and cut into cubes.
    %li Wrap tortillas in foil and heat on upper rack of grill.
    %li Grill green onions and jalapenos on grill.
    %li To assemble, place a small amount of steak in each tortilla and top with chopped onions and cilantro. Garnish with my avocado salsa and enjoy!
  %blockquote.taco-quote
    %p “Only the hand that makes tacos can find the true thing.”
    %cite Meister Eckhart
  %h3.h2#recipes Classic taco recipes
  %p Whether you're off the grid or can't get off the couch, these are guaranteed to satisfy. Share your tacos with <strong>#tacoweek</strong>.
  %ul.taco-preview.clearfix
    %li{style: 'background-image: url(http://hilahcooking.com/wp-content/uploads/2010/06/tacos-al-pastor1.jpg);'}
      = link_to 'Tacos al Pastor with Pineapple', 'http://hilahcooking.com/how-to-make-tacos-al-pastor/'
    %li{style: 'background-image: url(http://lecremedelacrumb.com/wp-content/uploads/2014/01/santa-monica-street-tacos-31.jpg);'}
      = link_to 'Santa Monica Street Tacos', 'http://lecremedelacrumb.com/2014/01/santa-monica-street-tacos.html'
    %li{style: 'background-image: url(http://images.media-allrecipes.com/userphotos/250x250/01/00/39/1003967.jpg);'}
      = link_to 'Taqueria Style Carne Asada', 'http://communitytable.com/337253/parade/austin-style-breakfast-tacos/'
    %li{style: 'background-image: url(http://i1077.photobucket.com/albums/w462/dinedash/dinedash001/08-2.jpg~original);'}
      = link_to 'Chicken Tacos', 'http://dine-dash.com/food/chicken-tacos'
    %li{style: 'background-image: url(https://farm4.staticflickr.com/3709/9567796403_1264e5b7e2_z.jpg);'}
      = link_to 'Grilled Tacos', 'http://food52.com/blog/7932-taco-night-on-the-grill'
    %li{style: 'background-image: url(https://farm9.staticflickr.com/8025/7455222796_18b3ef8d3d_z.jpg);'}
      = link_to 'Homemade Corn Tortillas', 'http://food52.com/blog/3833-homemade-corn-tortillas'
= partial 'layouts/email'
