---
title: Street Tacos
---
%header.table
  .table-cell.taco-header
    %h2.h4.caps= link_to 'Taco Week', '/', class: 'mid-gray'
    %h1.h1.taco-headline Street Tacos
    %p.taco-subhead 3. Start your day like a champion
%section.container
  %h3.h2 So it begins
  http://food52.com/blog/9974-how-to-heat-store-bought-corn-tortillas
  %p Welcome to the first day of Taco Week! Our journey praising glorious tacos around the world starts now. Today is all about the breakfast taco, the best $2 you can spend in the morning. Or if you're not near the <a href="http://www.nytimes.com/2010/03/10/dining/10united.html">epicenter of breakfast taco heaven</a>, they're quick and easy to make at home.
  %p <strong>Taco Fun Fact:</strong> <em>The tacodilla contains melted cheese in between the two folded tortillas, thus resembling a quesadilla.</em> - <a href="http://en.wikipedia.org/wiki/Taco#Puffy_tacos.2C_taco_kits.2C_breakfast_tacos_and_tacodillas">Wikipedia</a>
  %p Breakfast tacos are far from conventional with flour tortillas and non-traditional ingredients. When it comes to the <a href="http://www.texasmonthly.com/story/most-important-taco-day">most important meal of the day</a>, they are the <em>complete</em> breakfast.
  %p <a href="http://www.zagat.com/b/austin/tastiest-breakfast-tacos-in-austin">Texas</a> has first-mover advantage in the breakfast taco scene. Although the origin story is long enough <a href="http://www.amazon.com/dp/1626190496/">to fill a book</a>, the revolution began in the early 80's at Tamale House on Airport Road, Las Manitas on Congress, and a handful of select commercial locations.
  %h3.h2 Mexican street tacos
  %p With an epic Halloween behind us, don't let your Taco Week be as sloppy as a <a href="http://giphy.com/gifs/cheezburger-halloween-dancing-IyL7BTQmCK5Ow/fullscreen">last minute Jack Skellington costume</a>. Instead, stay classy and make hangover tacos. Or if you're feeling up to it, <a href="#recipes">something even more elaborate</a>.
  .fitvid <iframe width="560" height="315" src="//www.youtube.com/embed/M7saMzgiNZw?rel=0" frameborder="0" allowfullscreen></iframe>
  %p.italic.mid-gray Source: <a href="http://cookingsessions.com/mexican-street-tacos-recipe/">Jason Hill</a>
  %h4.h3 Ingredients
  %ul 
    %li 4-5 pieces of steak flap meat
    %li 8 corn tortillas
    %li 1 cup chopped onion
    %li 1 cup minced cilantro
    %li 1 bunch green onions
    %li 1-2 jalapenos
    %li 1 lime, juiced
    %li Fajita marinade
    %li Avocado Salsa
  %h4.h3 Directions
  %ol
    %li Marinate the steak or chicken in my fajita marinade overnight, turning once or twice.
    %li Preheat grill. Grill steak or chicken until done, and cut into cubes.
    %li Wrap tortillas in foil and heat on upper rack of grill.
    %li Grill green onions and jalapenos on grill.
    %li To assemble, place a small amount of steak in each tortilla and top with chopped onions and cilantro. Garnish with my avocado salsa and enjoy!
  %blockquote.taco-quote
    %p “Only the hand that makes tacos can find the true thing.”
    %cite Meister Eckhart
  %h3.h2#recipes More breakfast taco recipes
  %p You can 'put an egg on it' and make anything a breakfast taco.
  %ul.taco-preview
    %li{style: 'background-image: url(http://hilahcooking.com/wp-content/uploads/2010/06/tacos-al-pastor1.jpg);'}
      = link_to 'Tacos al Pastor with Pineapple', 'http://hilahcooking.com/how-to-make-tacos-al-pastor/'
    %li{style: 'background-image: url(http://lecremedelacrumb.com/wp-content/uploads/2014/01/santa-monica-street-tacos-31.jpg);'}
      = link_to 'Santa Monica Street Tacos', 'http://lecremedelacrumb.com/2014/01/santa-monica-street-tacos.html'
    %li{style: 'background-image: url(http://images.media-allrecipes.com/userphotos/250x250/01/00/39/1003967.jpg);'}
      = link_to 'Taqueria Style Carne Asada', 'http://communitytable.com/337253/parade/austin-style-breakfast-tacos/'
    %li{style: 'background-image: url(http://i1077.photobucket.com/albums/w462/dinedash/dinedash001/08-2.jpg~original);'}
      = link_to 'Chicken Tacos', 'http://dine-dash.com/food/chicken-tacos'
    %li{style: 'background-image: url(https://farm4.staticflickr.com/3709/9567796403_1264e5b7e2_z.jpg);'}
      = link_to 'Grilled Tacos', 'http://food52.com/blog/7932-taco-night-on-the-grill'
    %li{style: 'background-image: url(https://farm9.staticflickr.com/8025/7455222796_18b3ef8d3d_z.jpg);'}
      = link_to 'Homemade Corn Tortillas', 'http://food52.com/blog/3833-homemade-corn-tortillas'
  %p Share your tacos with <strong>#tacoweek</strong>.
= partial 'layouts/email'
