%header.table
  .table-cell.taco-header
    %h1.taco-headline Thank you
    %p.taco-subhead May your Taco Week be glorious indeed
%section.container.center
  %h3.h2 As promised, taco gif overload
  %ul.taco-gifs.clearfix
    %li= image_tag('http://media1.giphy.com/media/LVsmysvGBiZEs/200.gif')
    %li= image_tag('http://media2.giphy.com/media/1CDbZcjwuBJII/200.gif')
    %li= image_tag('http://media0.giphy.com/media/FJkjFPkjn81vG/200.gif')
    %li= image_tag('http://media3.giphy.com/media/smkF9W6KwzXa/200.gif')
    %li= image_tag('http://media1.giphy.com/media/kGK4VeSwqEfbW/200.gif')
    %li= image_tag('http://media0.giphy.com/media/OGxUX25qMNyRG/200.gif')
    %li= image_tag('http://media1.giphy.com/media/5BFGIZSN9Q6Wc/200.gif')
    %li= image_tag('http://media1.giphy.com/media/Ecz51X5IAD5DO/200.gif')
    %li= image_tag('http://media1.giphy.com/media/tyttpH53imi0SayXzZC/200.gif')
    %li= image_tag('http://media0.giphy.com/media/3JgtnXdRhSflK/200.gif')
    %li= image_tag('http://media1.giphy.com/media/PrRVvcwgty7K0/200.gif')
    %li= image_tag('http://media0.giphy.com/media/QGrAoK4eEngA0/200.gif')
    %li= image_tag('http://media1.giphy.com/media/qCujdhwWQIpLq/200.gif')
    %li= image_tag('http://media0.giphy.com/media/tB0wKjmS4UBrZijN5UQ/200.gif')
    %li= image_tag('http://media0.giphy.com/media/2ZqbXchJzeomXAo83XG/200.gif')
    %li= image_tag('http://media0.giphy.com/media/anpz3gd08qU4U/200.gif')
    %li= image_tag('http://media2.giphy.com/media/lbLLyUuor9JL2/200.gif')
